{% extends "checkin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content" class="colM">
<div id="content-main">

  <h1>Thank you for the information!</h1>
  <h3>Here's what you've told us ...</h3>
  <form action="/checkin/register" method="post">
        <div>
          <fieldset class="module aligned">
        <div class="form-row name">
          <div>
            <label class="required" for="id_name">Name:</label>
            {{ subscriber.name }}
          </div>
        </div>
        <div class="form-row name">
          <div>
            <label class="required" for="id_email">Email:</label>
            {{ subscriber.email }}            
          </div>
        </div>

        <div class="form-row name">
          <div>
            <label class="required" for="id_mobile">Mobile:</label>
            {{ subscriber.mobile }}
          </div>
        </div>

        <div class="form-row name">
          <div>
            <label class="required" for="id_company">Company:</label>
            {{ subscriber.company }}
          </div>
        </div>
        
        
        <div class="form-row name">
          <div>
            <label class="required" for="id_remarks">Project details with work order number / Remarks:</label>
          </div>
          <div>
            {{ subscriber.remarks }}            
          </div>
        </div>
        </fieldset>
        </div>

</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
      <h2>{% trans 'Next Steps' %}</h2>
      <p>Your information needs to be screened before approval.</p>
      <p> </p>
    </div>
</div>
{% endblock %}
