{% extends "checkin/base_site.html" %}
{% load i18n %}

{% block stylesheet %}{% load adminmedia %}{% admin_media_prefix %}css/forms.css{% endblock %}

{% block coltype %}colM{% endblock %}

{% block bodyclass %}dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
<div id="content" class="colM">
<div id="content-main">

  <h1>Go on and register</h1>
  <form action="/checkin/register" method="post">
        <div>
          <fieldset class="module aligned">
        <div class="form-row name">
          {{ form.name.errors }}          
          <div>
            <label class="required" for="id_name">Name:</label>
            <input id="id_name" class="vTextField" type="text" maxlength="255" value="{{ form.name.data }}" name="name"/>
          </div>
        </div>
        <div class="form-row name">
          {{ form.email.errors }}                      
          <div>
            <label class="required" for="id_email">Email:</label>
            <input id="id_email" class="vTextField" type="text" maxlength="255" value="{{ form.email.data }}" name="email"/>
          </div>
        </div>

        <div class="form-row name">
          {{ form.mobile.errors }}                      
          <div>
            <label class="required" for="id_mobile">Mobile:</label>
            <input id="id_mobile" class="vTextField" type="text" maxlength="255" value="{{ form.mobile.data }}" name="mobile"/>            
          </div>
        </div>

        <div class="form-row name">
          {{ form.company.errors }}                      
          <div>
            <label class="required" for="id_company">Company:</label>
            <input id="id_company" class="vTextField" type="text" maxlength="255" value="{{ form.company.data }}" name="company"/> 
          </div>
        </div>

        
        <div class="form-row name">
          {{ form.remarks.errors }}          
          <div>
            <label class="required" for="id_remarks">Project details with work order number / Remarks:</label>
          </div>
          <div>
            <textarea id="id_remarks" class="vTextField" name="remarks" rows="5" cols="30">{{ form.remarks.data }}</textarea>
          </div>
        </div>
        <div class="submit-row">
          <input class="default" type="SUBMIT" value="  Request Connection  ">
        </div>

        </fieldset>
        </div>
        </form>  
</div>
</div>
{% endblock %}

{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
      <h2>{% trans 'Connect Wifi' %}</h2>
      <p>Please enter your information in the form and submit request. You can access this Wifi HotSpot once our support people approve your request.</p>
    </div>
</div>
{% endblock %}
